<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="dl-vertical">
          <h2>Add Review:</h2>
          <%= form_for @product.reviews.build, url: product_reviews_path(@product) do |f| %>
            <p>
              <%= f.text_area :description %>
            </p>
            <p>
              <%= f.label :rating %>
              <%= f.select :rating, [1,2,3,4,5], :prompt => 'Select One' %>
            </p>
            <%= f.submit "Submit", class: "btn" %>
          <% end %>
          </div>
        </div>
      </div>



    <div class="row">
      <div class="col-sm-4">
        <div class="dl-vertical">
          <h2>Review:</h2>
            Description: <%= @review.description %>
          </div>
          <div>
            Rating: <%= @review.rating %>
          </div>
        </div>
      </div>
    </div>

  </article>

</section>
